footer {
  margin: 40px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top: 1px solid $color-border;

  @include bbox;

  .cm-pro {
    margin: 0 $pad;
    width: $g3;
    min-height: $g3;
    text-indent: -9999px;
    background: left top no-repeat url("http://www.clickinmoms.com/amember/file/get/path/banners.56f54cba9bc77/i/47588");
    background-size: 100%;

    @include media-tab {
      margin: 0 $pad;
      width: $g3-tab;
      min-height: $g3-tab;
    }

    @include media-phone {
      margin: $pad;
      width: $g3;
      min-height: $g3;
    }
  }

  .links {
    margin-top: 4px;
    margin-left: 0;
    width: $g3;
    display: flex;
    justify-content: center;

    li {
      margin: 0 10px;

      &::before {
        display: none!important;
      }
    }

    img {
      padding: 0;
      border: none;
    }
  }

  .footmatter {
    width: $g2;

    @include bbox;

    @include media-tab {
      width: $g2-tab;
    }
  }

  @include media-large {
    width: 100%;
  }
}

.footer-spot-widgets {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  & > li {
    &::before {
      display: none;
    }

    &:nth-child(1) {
      width: $g1;
    }

    &:nth-child(2) {
      width: auto;
    }

    &:nth-child(3) {
      width: $g2;
    }

    @include media-large {
      &:nth-child(1) {
        width: $g1-large;
      }

      &:nth-child(2) {
        width: auto;
      }

      &:nth-child(3) {
        width: $g2-large;
      }
    }

    @include media-tab {
      &:nth-child(1) {
        width: $g1-tab;
      }

      &:nth-child(2) {
        width: auto;
      }

      &:nth-child(3) {
        width: $g2-tab;
      }
    }

    @include media-phone {
      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        width: 100%;
      }

      &:nth-child(3) {
        width: 100%;
      }
    }
  }

  .widget {
    .nf-before-form-content {
      display: none;
    }

    nf-fields-wrap {
      display: flex;
      flex-flow: row wrap;
    }

    .nf-field-container {
      margin-bottom: 0;
    }

    .nf-field-label {
      display: none;
    }

    .nf-form-cont {
      width: 100%;

      @include media-large {
        margin-left: 0;
      }
    }

    .nf-form-title {
      display: none;
    }

    .email-container {
      margin-right: 12px;
      width: $g2 - 6px;

      @include media-large {
        width: $g2-large - 6px;
      }
    }

    .submit-container {
      width: $g3 - 6px;

      .field-wrap input[type="submit"],
      .field-wrap input[type="button"],
      .field-wrap button {
        width: 100%;

        @include button($color-primary);
      }

      @include media-large {
        width: $g3-large - 6px;
      }
    }
  }

  @include media-large {
    width: 100%;
  }

  @include media-tab {
    width: 100%;
  }

  @include media-phone {
    width: 100%;
    flex-flow: row wrap;
  }
}
