.interactive-steps {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 48px;
}

.interactive-steps--on {
  opacity: 1;

  .interactive-step {
    grid-row: 1 / 1;

    &:not(:first-child) {
      display: grid;
    }
  }

  .interactive-step:not(.interactive-step--active) {
    opacity: 0;
  }

  .interactive-step__btn {
    &::before {
      content: "";
      margin-right: auto;
      margin-left: auto;
      width: 100px;
      height: 48px;
      border-top: 1px solid $color-border;

      @include media-to(630px) {
        display: none;
      }

      @include media-from(630px) {
        display: block;
      }
    }
  }
}

.interactive-step--active {
  z-index: 2;
  opacity: 1;
}

.interactive-step {
  display: grid;
  grid-column: 1 / 1;
  grid-column-gap: 24px;
  transition: .5s ease-in opacity;

  @include center;
  @include bordered-image;
  @include photo-box-setup;

  &:not(.interactive-step--active) {
    z-index: 1;
  }

  @include media-to(630px) {
    grid-template-columns: 100%;
    grid-template-rows: 180px 360px auto;
    grid-template-areas:
      "text"
      "figure"
      "btn";
    grid-row-gap: 12px;
  }

  @include media-from(630px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "text figure"
      "btn  figure";
  }

  @include media-betw(630px, $size-tab) {
    grid-template-rows: 200px 150px;
  }

  @include media-betw($size-tab, $size-desk) {
    grid-template-rows: 250px 150px;
  }

  @include media-from($size-desk) {
    grid-template-rows: 350px 150px;
  }

  &:not(:first-child) {
    display: none;
  }
}

.interactive-step__figure {
  width: 100%;
  height: 100%;
  grid-area: figure;
  overflow: hidden;
}

.interactive-step__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interactive-step__text {
  grid-area: text;
  text-align: center;
}

.interactive-step__label {
  @include media-to(630px) {
    margin-top: 18px;
    margin-bottom: 24px;
  }

  @include media-betw(630px, $size-tab) {
    margin-top: 36px;
    margin-bottom: 24px;
  }

  @include media-betw($size-tab, $size-desk) {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  @include media-from($size-desk) {
    margin-top: 84px;
    margin-bottom: 48px;
  }
}

.interactive-step__btn {
  grid-area: btn;
  align-self: center;
  position: relative;
  z-index: 3;
}
