nav {
  margin-top: 24px;

  a {
    padding: 18px 36px;
    display: block;
    color: $color-body;
    text-decoration: none;

    @include media-tab {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  > .menu {
    margin-bottom: 12px;
    margin-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-bottom: 1px solid $color-border;

    > .menu-item {
      position: relative;
      font-size: 1.7rem;
      line-height: 2.3rem;
      letter-spacing: 3px;
      text-transform: uppercase;

      @include font-accent;

      &.current-menu-item,
      &.current-menu-parent {
        border-bottom: 2px solid $color-primary;

        & > a {
          padding-bottom: 17px;
          color: $color-primary;
        }
      }

      &:hover {
        border-bottom: 2px solid $color-body;

        & > a {
          padding-bottom: 17px;
          background-color: fade-out($color-primary, .9);
        }

        > ul {
          margin-left: 0;
          display: block;
        }
      }

      &::before {
        display: none!important;
      }

      > ul {
        width: 100%;
        min-width: 100px;
        max-width: 300px;
        display: none;
        position: absolute;
        z-index: 10;
        top: 58px;
        left: 0;
        background-color: $color-primary;

        li {
          width: 100%;
          display: block;
          border: none;

          &::before {
            display: none;
          }

          &:hover {
            border: none;

            a {
              padding: 8px 12px;
              color: #fff;
              background-color: darken($color-primary, 20);
            }
          }
        }

        a {
          padding: 8px 12px;
          color: #fff;
          text-align: center;
        }
      }
    }

    @include media-large {
      width: 100%;

      > .menu-item {
        border-bottom: 2px solid transparent;
      }
    }

    @include media-tab {}

    @include media-phone {
      align-items: flex-end;

      > .menu-item {
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: 1px;
        text-align: center;

        a {
          // padding: 8px 12px;
        }

        &.current-menu-item a,
        &:hover a {
          // padding-bottom: 5px;
        }

        > ul {
          top: 51px;
        }
      }
    }
  }
}
