body.poppin-on {
  margin-top: 40px;
  @include media-tab {
    margin-top: 60px;
  }
  @include media-phone {
    margin-top: 80px;
  }
}

.poppin {
  display: flex;
  position: fixed;
  z-index: 2;
  top: -60px;
  right: 0;
  left: 0;
  background-color: $color-primary-dark;
  transition: .2s all linear;

  @include font-heading;

  &.on {
    top: 0;
  }

  a {
    padding: 8px 10px 5px;
    display: block;
    flex: 1;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  .close {
    padding: 5px 20px 8px;
    width: 30px;
    box-sizing: border-box;
    font-size: 2.3rem;
    color: #fff;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
  }
}
