body {
  font-size: 1.5rem;
  font-weight: 300;
  color: $color-body;
  line-height: 2.4rem;
  transition: .3s all linear;

  @include font-body;
}

header {
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;

  @include media-large {
    width: $g2-large;
  }

  @include media-phone {
    padding-top: 24px;
  }
}

hr {
  border: none;
  border-bottom: 1px solid $color-border;
}

html {
  font-size: 10px;
}

img {
  max-width: 100%;
  display: block;

  @include bbox;
}

.img--bordered {
  @include bordered-image;
}

.img--centered {
  margin-right: auto;
  margin-left: auto;
}

main {
  margin: 24px auto;

  @include media-to($size-desk) {
    max-width: 742px;
  }

  @include media-from($size-desk) {
    max-width: 1200px;
  }
}

.widget {
  .widgettitle {
    display: none;
  }
}
