@mixin bbox() {
  box-sizing: border-box;
}

@mixin before-note($msg) {
  &::before {
    content: $msg;
    display: block;
    color: $color-border;
    text-transform: uppercase;
  }
}

@mixin button($color) {
  &:not(.btn-ghost) {
    border: 1px solid $color;
  }

  &:not(.btn-solid) {
    color: $color;
    background-color: #fff;
  }

  &.btn-solid:not(:hover),
  &:hover:not(.btn-ghost) {
    color: #fff;
    background-color: $color;
  }

  &.btn-solid:hover {
    color: #fff;
    background-color: darken($color, 20%);
  }

  &.btn-ghos:hover {
    color: darken($color, 20%);
    cursor: pointer;
  }
}

@mixin center() {
  margin-right: auto;
  margin-left: auto;
}

@mixin col-pad($pad-l: $pad, $pad-r: $pad) {
  padding-right: $pad-r;
  padding-left: $pad-l;
}

@mixin fill-pad($margin-l: -1 * $pad, $margin-r: -1 * $pad) {
  margin-right: $margin-r;
  margin-left: $margin-l;
}

@mixin flex {
  display: flex;
}

@mixin flex-box() {
  padding: $pad/2 $pad;

  @include bbox;
}

@mixin flex-tile {
  flex-flow: row wrap;

  @include flex;
}

@mixin font-body() {
  font-family: "IBM Plex Serif", serif;
}

@mixin font-heading() {
  font-family: "IBM Plex Serif", serif;
}

@mixin font-accent() {
  font-family: "Open Sans Condensed", sans-serif;
}

@mixin font-fancy() {
  font-family: "Italianno", cursive;
}

@mixin bordered-image() {
  padding: $pad/2 - 1;
  border: 1px solid $color-border;
}

@mixin last-child() {
  &:last-child {
    margin-bottom: 0;
  }
}

@mixin media-desktop() {
  @include media-min(1200px) {
    @content;
  }
}

@mixin media-large() {
  @include media-min(1600px) {
    @content;
  }
}

@mixin media-max($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-min($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin media-phone() {
  @include media-max(759px) {
    @content;
  }
}

@mixin media-tab() {
  @include media-max(1199px) {
    @content;
  }
}

/* New Media queries to replace old ones */

@mixin media-to($size) {
  @media (max-width: $size - 1px) {
    @content;
  }
}

@mixin media-from($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin media-betw($size1, $size2) {
  @media (min-width: $size1) and (max-width: $size2 - 1px) {
    @content;
  }
}

/* End new media queries */

@mixin photo-box-setup() {
  &:not(.carousel__item) {
    position: relative;
  }

  img {
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // border: 10px solid #fff;
  }
}

@mixin rule() {
  padding-right: $pad - 1;
  padding-left: $pad - 1;
  border-right: 1px solid $color-border;
  border-left: 1px solid $color-border;
}

@mixin rule-right() {
  padding-right: $pad - 1;
  border-right: 1px solid $color-border;

  &.half-pad-right {
    padding-right: $pad/2 - 1;
  }
}

@mixin rule-left() {
  padding-left: $pad - 1;
  border-left: 1px solid $color-border;

  &.half-pad-left {
    padding-left: $pad/2 - 1;
  }
}

@mixin text-lead() {
  &:not(.strong) {
    font-style: italic;
  }

  font-weight: 200;

  @include font-heading;

  @include media-to($size-desk) {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  @include media-from($size-desk) {
    font-size: 2rem;
    line-height: 3.6rem;
  }
}
