@import url("/css/vars.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|IBM+Plex+Serif:200,200i,300,300i,400,400i,500,500i|Italianno");
// |Open+Sans:300,300i,600,600i,700,700i|Roboto+Slab:300,700

$color-body:         fade-out(#555, .15);
$color-display:      #555;
$color-display-darker: #333;
$color-border:       fade-out(#979797, .7);
$color-accent:       #b0c6dc;
$color-primary:      #96ded1;
$color-primary-dark: #7bc3b6;
$color-accent-dark:  #133457;
$color-danger:       #ffb2ba;
$color-caution:      #ffdcab;
$color-info:         #c18ed4;
$color-shadow:       fade-out(#000, .5);
$color-screen:       fade-out(#fff, .5);
$color-screen-primary: fade-out($color-primary, .2);

$g0: 742px;
$h0: 600px;
$g1: 458px;
$g2: 284px;
$g3: 174px;
$h2: 142px;
$g2h: $g2 + $h2;

$pad: 24px;

$g0-phone: 62%;
$h0-phone: 50%;
$g1-phone: 38%;

$g0-tab: 458px;
$h0-tab: 371px;
$g1-tab: 284px;
$g2-tab: 174px;
$g3-tab: 110px;
$h2-tab: $g2-tab / 2;
$g2h-tab: $g2-tab + $h2-tab;

$g0-large: 988px;
$h0-large: 800px;
$g1-large: 612px;
$g2-large: 378px;
$g3-large: 234px;
$h2-large: $g2-large/2;
$g2h-large: $g2-large+$h2-large;

$size-phone: 360px;
$size-tab: 740px;
$size-desk: 1200px;
$size-lg: 1600px;
